{{! BEGIN-SNIPPET templates-interactive-ember-data }}
<div class="ui top attached menu">
  <div class="ui search item">
    <div class="ui transparent icon input">
      <input placeholder="Search people..." type="text">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="right menu">
    {{#ui-dropdown class="icon item" action="nothing"}}
      <i class="setting icon"></i>
      <div class="menu">
        <div class="header">Visible columns</div>
        {{#each table.hideableColumns as |column|}}
          {{ui-checkbox label=column.label class="item" checked=column.visible onChange=(action (mut column.visible))}}
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
</div>
{{#if isLoading}}
  <div class="table loader">
    <div class="ui active centered inline text loader">Loading</div>
  </div>
{{else}}
  {{#ui-table table
    class="bottom attached"
    sortable=true
    rowSelection=true
    onHeaderClick=(action "sortColumn")
    onRowClick=(action "selectRow")
    onCellDoubleClick=(action "doubleClickCell")
    as |t|
  }}
    {{t.head}}
    {{t.body}}
    {{#t.foot}}
      <tr>
        <th colspan="{{table.visibleColumns.length}}">
          <span>
            {{table.selectedRows.length}} rows selected
          </span>
          {{table-pagination class="right floated" totalPages=pageCount currentPage=page onPageChange=(action "navigateToPage")}}
        </th>
      </tr>
    {{/t.foot}}
  {{/ui-table}}
{{/if}}
{{! END-SNIPPET templates-interactive-ember-data }}
