<a class="icon item {{if (eq firstPage currentPage) 'disabled'}}" href="#" {{action 'pageSelected' firstPage}}>
  <i class="angle double left icon"></i>
</a>
<a class="icon item {{if (not previousPage) 'disabled'}}" href="#" {{action 'pageSelected' previousPage}}>
  <i class="angle left icon"></i>
</a>
{{#ui-dropdown class="item search" selected=currentPage onChange=(action "pageSelected") as |execute mapper|}}
  <div class="default text">Types</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each pageNumbers as |pageNumber|}}
      <div class="item">
        {{pageNumber}}
      </div>
    {{/each}}
  </div>
{{/ui-dropdown}}
<a class="icon item {{if (not nextPage) 'disabled'}}" href="#" {{action 'pageSelected' nextPage}}>
  <i class="angle right icon"></i>
</a>
<a class="icon item {{if (eq lastPage currentPage) 'disabled'}}" href="#" {{action 'pageSelected' lastPage}}>
  <i class="angle double right icon"></i>
</a>
{{log currentPage totalPages firstPage previousPage nextPage lastPage}}
