{{#each table.rows as |row index|}}
  {{ui-tr
    row=row
    index=index
    table=table
    onClick=onRowClick
    onDoubleClick=onRowDoubleClick
    onCellClick=onCellClick
    onCellDoubleClick=onCellDoubleClick
  }}
  {{#if row.expanded}}
    <tr class="expanded row">
      <td colspan={{table.visibleColumns.length}}>
        {{component expandedRowComponent row=row index=index table=table}}
      </td>
    </tr>
  {{/if}}
{{else}}
  <tr>
    <td colspan={{table.visibleColumns.length}}>
      {{yield}}
    </td>
  </tr>
{{/each}}
