<div class="ui fixed red inverted huge menu">
  <div class="header item">
    <img src="ember-logo.svg" class="ui image">
    Semantic UI Table
  </div>
  {{link-to "Basic Table" "index" class="item"}}
  {{#ui-dropdown class="item"}}
    <div>Ember Data</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{link-to "Basic Table" "ember-data" class="item"}}
      {{link-to "Interactive (pagination, sorting, hide/show columns)" "ember-data-interactive" class="item"}}
    </div>
  {{/ui-dropdown}}
  {{#ui-dropdown class="item" action="nothing"}}
    <div>Custom Types</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{link-to "Translatable header" "translatable-header" class="item"}}
      {{link-to "User custom types" "custom-types" class="item"}}
    </div>
  {{/ui-dropdown}}

  <div class="right menu">
    <a class="item" href="https://quantosobra.github.io/ember-semantic-ui-table/docs/">
      <i class="book icon"></i> API Documentation
    </a>
    <a class="icon item" href="https://github.com/quantosobra/ember-semantic-ui-table/">
      <i class="github icon"></i>
    </a>
  </div>
</div>
<div class="ui main container">
  {{outlet}}
</div>
