<div class="ui fixed red inverted huge menu">
  <div class="header item">
    <img src="{{rootUrl}}/ember-logo.svg" class="ui image">
    Semantic UI Table
  </div>
  {{link-to "Basic Table" "index" class="item"}}
  {{link-to "Table with Ember Data" "ember-data" class="item"}}
  {{link-to "Interactive Table with Ember Data" "ember-data-interactive" class="item"}}
</div>
<div class="ui main container">
  {{outlet}}
</div>
