<div class="ui segments" id="interactive-table-ember-data">
  <div class="ui segment">
    <h3 class="ui header">Interactive Table with Ember Data</h3>
  </div>
  <div class="ui segment">
    {{interactive-ember-data}}
  </div>
  <div class="ui top attached tabular menu">
    <button class="{{if (eq activeTab 1) "active"}} item" {{action (mut activeTab) 1}}>templates/components/interactive-ember-data.hbs</button>
    <button class="{{if (eq activeTab 2) "active"}} item" {{action (mut activeTab) 2}}>components/interactive-ember-data.js</button>
    <button class="{{if (eq activeTab 3) "active"}} item" {{action (mut activeTab) 3}}>mixins/columns.js</button>
    <button class="{{if (eq activeTab 4) "active"}} item" {{action (mut activeTab) 4}}>mixins/ember-data-table.js</button>
  </div>
  <div class="ui bottom attached {{if (eq activeTab 1) "active"}} tab segment">
    {{code-snippet name="templates-interactive-ember-data.hbs"}}
  </div>
  <div class="ui bottom attached {{if (eq activeTab 2) "active"}} tab segment">
    {{code-snippet name="components-interactive-ember-data.js"}}
  </div>
  <div class="ui bottom attached {{if (eq activeTab 3) "active"}} tab segment">
    {{code-snippet name="mixins-columns.js"}}
  </div>
  <div class="ui bottom attached {{if (eq activeTab 4) "active"}} tab segment">
    {{code-snippet name="mixins-ember-data-table.js"}}
  </div>
</div>
