<div class="ui segments" id="example-basic-table">
  <div class="ui segment">
    <h3 class="ui header">Basic Table</h3>
  </div>
  <div class="ui segment">
    {{basic-table}}
  </div>
  <div class="ui top attached tabular menu">
    <button class="{{if (eq activeTab 1) "active"}} item" {{action (mut activeTab) 1}}>templates/components/basic-table.hbs</button>
    <button class="{{if (eq activeTab 2) "active"}} item" {{action (mut activeTab) 2}}>components/basic-table.js</button>
    <button class="{{if (eq activeTab 3) "active"}} item" {{action (mut activeTab) 3}}>mixins/columns.js</button>
  </div>
  <div class="ui bottom attached {{if (eq activeTab 1) "active"}} tab segment">
    {{code-snippet name="templates-basic-table.hbs"}}
  </div>
  <div class="ui bottom attached {{if (eq activeTab 2) "active"}} tab segment">
    {{code-snippet name="components-basic-table.js"}}
  </div>
  <div class="ui bottom attached {{if (eq activeTab 3) "active"}} tab segment">
    {{code-snippet name="mixins-columns.js"}}
  </div>
</div>
